body {
    height: 100vh;
    overflow: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 16px 200px 0px;
    background-color: #1F2937;
    font-weight: 500;
}

header ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-img {
    background-color: grey;
    width: 600px;
    height: 170px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}